* {
  margin: 0px;
  padding: 0px;
  font-family: "Inter", sans-serif;
}

/* common part */

.common-btn {
  background-color: #1d4ed8;
  color: white;
  border: none;
  border-radius: 10px;
  padding: 12px 30px;
  font-weight: bold;
  font-size: 15px;
  cursor: pointer;
}

/* nav part */

.nav-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1200px;
  padding: 20px 0px;
  margin: auto;
}

.menu {
  display: flex;
  justify-content: center;
  gap: 15px;
  list-style: none;
}

.menu a {
  text-decoration: none;
  font-size: 15px;
  font-family: "Arimo", sans-serif !important;
  color: #575757;
}

/* hero section  */

.hero-section {
  background-image:
    linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url("./images/banner.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 786px;
  width: auto;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.hero-section h2 {
  font-size: 80px;
  font-weight: 800;
  margin-top: 100px;
}

.hero-section p {
  font-size: 20px;
  text-align: center;
  margin-top: 30px;
}

.hero-section button {
  margin-top: 300px;
}

/* speaker section */

.titel {
  font-weight: bold;
  text-align: center;
  margin: 40px 0px;
  font-size: 50px;
}

.speaker a {
  text-decoration: none;
  color: #2563eb;
}

.card-titel {
  padding: 13px 0px;
  font-weight: bold;
}

.card-info {
  color: #575757;
}

.speaker {
  display: flex;
  flex-direction: column;
  width: 100%;
  border-radius: 24px;
  overflow: hidden;
  border: 1px solid #e5e7eb;
}

.speaker-pic {
  width: 100%;
  display: block;
}
.speaker-card {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 40px;
  width: 100%;
  max-width: 1000px;
  margin: 40px auto;
}
.text-box {
  padding: 15px;
}

/* secure your spot section  */

.spot-titel p {
  color: #575757;
  text-align: center;
}

.spot-titel {
  margin-top: 200px;
}

h4 {
  color: #575757;
}

.price-flex {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100%;
  gap: 50px;
  margin: 100px 0px;
  max-width: 1400px;
}

.pro h4 {
  color: #2563eb;
}

.pro {
  background: #0d1b2a;
  color: white;
  padding: 80px 35px;
  border-radius: 20px;
}

.team {
  background: #faf6f6;
  padding: 80px 20px;
  border-radius: 20px;
  border: 1px solid #575757;
}

.standard {
  padding: 80px 25px;
  border-radius: 20px;
  border: 1px solid #575757;
}
hr {
  color: #575757;
}
ul li::marker {
  color: #2563eb;
}

ul {
  margin-left: 15px;
}

.price-flex p {
  margin-bottom: 20px;
  color: #575757;
}
.price-flex ul {
  margin-top: 20px;
}

.btn-pro {
  margin-top: 40px;
  background-color: #1d4ed8;
  color: white;
  border: none;
  border-radius: 10px;
  padding: 15px 120px;
  font-weight: bold;
  font-size: 15px;
  cursor: pointer;
}

.btn-team {
  margin-top: 40px;
  background-color: #ffffff;
  color: rgb(0, 0, 0);
  border: 1px solid black;
  border-radius: 10px;
  padding: 15px 120px;
  font-weight: bold;
  font-size: 15px;
  cursor: pointer;
}

.btn-standard {
  margin-top: 40px;
  background-color: #ffffff;
  color: rgb(0, 0, 0);
  border: 1px solid #2563eb;
  border-radius: 10px;
  padding: 15px 120px;
  font-weight: bold;
  font-size: 15px;
  cursor: pointer;
}

/* footer */

footer {
  background: rgb(17, 21, 48);
  height: 100px;
}

.footer-logo {
  display: flex;
  justify-content: center;
  margin-top: 35px;
  color: white;
  gap: 10px;
}

#flt {
  margin-top: 39px;
}

.footer {
  display: flex;
  justify-content: space-between;
  color: #575757;
  margin-top: -25px;
}
.footer-text {
  display: flex;
  flex-direction: row;
  gap: 15px;
  padding: 0px 15px 0px 0px;
}
#footer {
  margin-left: 15px;
}
